
#pot {
      
      position: relative;
      animation: example 6s  infinite;
      transform: rotate(90deg);
    }
    
    @keyframes example {
      0%   {left:-50px; top:0px;}
      25%  { left:100px; top:0px;}
      
    }