

    #pot {
      
      position: relative;
      animation: mymove 20s infinite;
      transform: rotate(90deg);
    }
    
    @keyframes mymove {
      from {left: 0px;}
      to {left:300px ;}
    }