#pot {
    
    position: absolute;
    animation: linear infinite ;
    animation-name: run;
    animation-duration: 10s;
    transform: rotate(90deg);
    color:red;
    top: 0;
    z-index: 777;

}
  @keyframes run {
    0% {
      left: 0;
      opacity: 0;

      
    }
    50% { 
      left: calc(100% - 100px); 
      opacity: 0.5;


     }
    100% {
        
      left: 0; 
      opacity: 0;
    }
  }