.parent-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  animation: fadein 2s;
}
@media only screen and (max-width: 900px) {
  .parent-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 600px) {
  .parent-container {
    display: grid;
    grid-template-columns: auto;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-container {
  display: grid;
  margin-left:25% ;
  margin-right: 25% ;

  grid-template-columns: 50% ;
  animation: fadein 2s;
}

@media only screen and (max-width: 900px) {
  .profie-container {
    display: grid;
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .profie-container {
    display: grid;
    grid-template-columns: 100%;
    margin-left:0 ;

  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
::-webkit-scrollbar{
  width:8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #2196F3;
  box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #d5f7f7;
  box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}
